<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - A Data Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var placeHolder = $('#PlaceHolder');
            $('button[data-toggle="modal"]').click(function (event) {

                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    placeHolder.html(data);
                    placeHolder.find('.modal').modal('show');
                    //form.removeData('validator');
                    //form.removeData('unobtrusiveValidation');
                    //$.validator.unobtrusive.parse(form);
                });


            });

            placeHolder.on('submit', 'button[class="btn btn-default"]', function (event) {

                var form = placeHolder.parents('.modal').find('form');
                //form.removeData('validator');
                //form.removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse(form);
                form.validate();
                if (form.valid()) {
                    //if (($('#OrderNumber').val() != '') && ($('#OrderDate').val() != '') && ($('#Status').val() != '') && ($('#Client_Name').val() != '')) {
                    //var getForm = $(this).parents('.modal').find('form');
                    //getForm.removeData('validator');
                    //getForm.removeData('unobtrusiveValidation');
                    //$.validator.unobtrusive.parse(getForm);
                    var getUrl = form.attr('action');
                    var theData = form.serialize();
                    $.post(getUrl, theData, function (data) {
                        placeHolder.find('.modal').modal('hide');
                        //location.reload(true);
                    });
                }


                //  }
                /*
                if ($('#OrderNumber').val().trim() == '') {
                    $('#OrderNumber').next('span').show();
                    $('#OrderNumber').css('border', '2px solid red');
                    placeHolder.find('.modal').modal('show');

                }
                else {
                    $('#OrderNumber').next('span').hide();
                    $('#OrderNumber').css('border', '2px solid grey');
                }
                if ($('#OrderDate').val().trim() == '') {
                    $('#OrderDate').next('span').show();
                    $('#OrderDate').css('border', '2px solid red');
                    placeHolder.find('.modal').modal('show');

                }
                else {
                    $('#OrderDate').next('span').hide();
                    $('#OrderDate').css('border', '2px solid grey');
                }
                if ($('#Status').val().trim() == '') {
                    $('#Status').next('span').show();
                    $('#Status').css('border', '2px solid red');
                    placeHolder.find('.modal').modal('show');

                }
                else {
                    $('#Status').next('span').hide();
                    $('#Status').css('border', '2px solid grey');
                }
                if ($('#ClientId').val().trim() == '') {
                    $('#ClientId').next('span').show();
                    $('#ClientId').css('border', '2px solid red');
                    placeHolder.find('.modal').modal('show');

                }
                else {
                    $('#ClientId').next('span').hide();
                    $('#ClientId').css('border', '2px solid grey');
                }
            });
            */
            });
            $('.row2 td:last-child').click(function () {
                $(this).prev().toggle();


            });

            $('.link a').hover(function () {
                $(this).next('span').show();
            }, function () {
                $(this).next('span').hide();
            });
        });
    </script>
    <style type="text/css">
        body {
            background-color: whitesmoke;
        }
        .orangeColor, .orangeColor:hover {
            background-color: orange;
            color: white;
        }

        .blueColor, .blueColor:hover {
            background-color: dodgerblue;
            color: white;
        }

        .redColor, .redColor:hover {
            background-color: red;
            color: white;
        }

        .greenColor, .greenColor:hover {
            background-color: limegreen;
            color: white;
        }

        .btn-default {
            color: white;
        }

        th, td:not(:last-child) {
            padding-top: 15px;
        }


        .theRow:hover, div.row:hover {
            background-color: gainsboro;
        }
        div.row:hover {
            font-size: 135%;
        }
        img:hover {
            width: 70%;
            height:100%;
        }
    </style>


</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Clients", "Index", "Clients", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Jobs", "Index", "Jobs", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Orders", "Index", "Orders", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
