@model IEnumerable<ApplicationProject.Models.Artwork>

@{
    ViewBag.Title = "Artworks";
}

<h2>Artworks</h2>

<p>
    @Html.ActionLink("Create a Artwork", "Create", "", new { @class = "btn btn-default blueColor" })
</p>

@if (Model.Count() == 0)
{
    <h4>No Artworks found.</h4>
}
else
{
<table style="width:80%">
    <tr style="border-bottom:1px solid black">
        <th>
            @Html.DisplayNameFor(model => model.ArtworkId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfCreator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Job Title")
        </th>
        <th></th>
    </tr>

  @foreach (var item in Model)
  {
    <tr class="row2 theRow" style="border-bottom:1px solid black">
        <td>
            @Html.DisplayFor(modelItem => item.ArtworkId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfCreator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job.Title)
        </td>
        <td style="padding-top:3%;padding-bottom:3%;display:none">
            @Html.ActionLink("Edit", "Edit", new { id = item.ArtworkId }, new { @class = "btn btn-default orangeColor" }) |
            @Html.ActionLink("Details", "Details", new { id = item.ArtworkId }, new { @class = "btn btn-default blueColor" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ArtworkId }, new { @class = "btn btn-default redColor" })
        </td>
        <td style="padding-top:0.5%;padding-bottom:3%;cursor:pointer;font-size:300%">
            ...
        </td>
    </tr>
   }
</table>
}
