@model ApplicationProject.Models.ApplicationDTO

@{
    ViewBag.Title = "Delete the Client";
}

<h2>Delete the Client</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientModel.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientModel.ClientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientModel.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientModel.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientModel.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientModel.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientModel.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientModel.PhoneNumber)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default redColor" /> 
        </div>
        <br />
        @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-default blueColor" })
    }
</div>
