@model ApplicationProject.Models.ApplicationDTO

@{
    ViewBag.Title = "Details of the Client";
}

<h2>Details of the Client</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientModel.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientModel.ClientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClientModel.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientModel.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientModel.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientModel.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientModel.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientModel.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientModel.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientModel.PhoneNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-default blueColor" })
</p>
